.video { position: relative; }

.video a {
  position: absolute;
  display: block;
  background: url(http://www.slatecube.com/images/play-btn.png);
  height: 100%;
  width: 100%;
  top: 75px;
  left: 150px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}