<style>
  .VideoIframe{
    align-self: center;
    height: 50vh;
    width: 45%;
    margin: 20%;
  }
</style> 


<!-- Trigger the modal with a button -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    
      <div class="modal-header">
        <button type="button" class="close" (click)="videopopup()" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <iframe  [src]="iframeVideo | SafeurlPipe" style="align-self: center;"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="videopopup()" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- <div style="overflow-y: hidden;" class="modal fade" id="myModal" role="dialog">
    <button type="button" class="close" data-dismiss="modal" (click)="videopopup()" >&times;</button>
    <iframe id="iframeVideo" class="VideoIframe" [src]="iframeVideo | SafeurlPipe" style="align-self: center;"></iframe>
</div> -->

  <!-- <div class="modal fade" id="myModal" role="dialog" style="text-align: center;">
      <div class="close-mo-video-01 trans-0-4" (click)="videopopup()" data-dismiss="modal" aria-label="Close">&times;</div>
      <div class="modal-body">
        <iframe class="VideoIframe" [src]="iframeVideo | SafeurlPipe" style="align-self: center;"></iframe>
      </div>
    </div> -->

<section class="block-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="block category-listing color-violet">
          <h3 class="block-title"><span> ALL VIDEOS</span></h3>
          <div class="container">
            <div class="row">
              <div style="margin-bottom: 10px;" class="col-sm-3"  *ngFor="let videoNews of homeService.videoNews | paginate: config ; let i = index" >         
                <div>
                  <img  class="video" data-toggle="modal" (click)="ifraVideo(i,videoNews.Link)" data-target="#myModal" src="http://img.youtube.com/vi/{{videoNews.videoId}}/0.jpg" alt=""  style="height:200px">
                  <span class="play-btn"></span>
                 
                </div>  
                <div class="post-meta">
                  <a  (click)="ifraVideo(i,videoNews.Link)"  class="btn btn-md" data-toggle="modal" data-target="#myModal"><span >{{videoNews.title}}</span></a>
                  <!-- <span class="post-author"><a href="/news-description?newsId={{news.newsId}}"  (click)="GotToDesc(news)" >{{news.CreatedName}}</a></span> -->
                 
                </div>       
              </div>          
            </div>
          </div>        
        </div><!-- Block Lifestyle end -->
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div><!-- Content Col end -->
    </div><!-- Row end -->
  </div><!-- Container end -->
</section><!-- First block end -->







