
<div class="body-inner">
    <div class="trending-bar d-md-block d-lg-block d-none">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="trending-title">Trending Now</h3>
            <div id="trending-slide" class="owl-carousel owl-theme trending-slide">
              <div *ngFor="let slidernews of homeService.sliderNewsList" class="item">
                 <div class="post-content">
                    <h2 class="post-title title-small">
                       <a href="">{{slidernews.HeadLine}}</a>
                    </h2>
                 </div><!-- Post content end -->
              </div><!-- Item 1 end -->
             
            </div><!-- Carousel end -->
          </div><!-- Col end -->
        </div><!--/ Row end -->
      </div><!--/ Container end -->
    </div><!--/ Trending end -->
  
    <div id="top-bar" class="top-bar">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="ts-date">
              <i class="fa fa-calendar-check-o"></i>May 29, 2017
            </div>
            <ul class="unstyled top-nav">
              <li><a href="#">About</a></li>
              <li><a href="#">Write for Us</a></li>
              <li><a href="#">Advertise</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div><!--/ Top bar left end -->
  
          <div class="col-md-4 top-social text-lg-right text-md-center">
            <ul class="unstyled">
              <li>
                <a title="Facebook" href="#">
                  <span class="social-icon"><i class="fa fa-facebook"></i></span>
                </a>
                <a title="Twitter" href="#">
                  <span class="social-icon"><i class="fa fa-twitter"></i></span>
                </a>
                <a title="Google+" href="#">
                  <span class="social-icon"><i class="fa fa-google-plus"></i></span>
                </a>
                <a title="Linkdin" href="#">
                  <span class="social-icon"><i class="fa fa-linkedin"></i></span>
                </a>
                <a title="Rss" href="#">
                  <span class="social-icon"><i class="fa fa-rss"></i></span>
                </a>
                <a title="Skype" href="#">
                  <span class="social-icon"><i class="fa fa-skype"></i></span>
                </a>
              </li>
            </ul><!-- Ul end -->
          </div><!--/ Top social col end -->
        </div><!--/ Content row end -->
      </div><!--/ Container end -->
    </div><!--/ Topbar end -->
    
      <!-- Header start -->
    <header id="header" class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <div class="logo">
               <a href="index.html">
                <img src="assets/vendor/images/logos/logo.png" alt="">
               </a>
            </div>
          </div><!-- logo col end -->

          <div class="col-md-9 col-sm-12 header-right">
            <div class="ad-banner float-right">
              <div *ngFor="let add of homeService.advertisementList">
                <a *ngIf="add.Name == 'one'" href="{{add.Link}}" target="_blank">
                  <img  src="{{imageUrlPath + 'common/' + add.ImagePath}}" class="img-fluid" alt=""></a>
              </div>
            </div>
          </div>
        </div><!-- Row end -->
      </div><!-- Logo and banner area end -->
    </header><!--/ Header end -->
  
    <div class="main-nav clearfix">
      <div class="container">
        <div class="row">
          <nav class="navbar navbar-expand-lg col">
            <div class="site-nav-inner float-left">
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                 </button>
                 <!-- End of Navbar toggler -->
  
              <div id="navbarSupportedContent" class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">


                  <li class="active" >
                    <a href="category-style2.html">Home</a>
                  </li>
  
                  <li>
                    <a href="category-style2.html">National</a>
                  </li>
  
  
                  <li *ngFor="let category of categoryList;" class="nav-item dropdown mega-dropdown">
                    <a href="category-style1.html"  [routerLink]="['/news-category']" [queryParams]="{categoryId: category.CategoryId}"  class="nav-link dropdown-toggle"
                     data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false">{{category.CategoryName}} <i class="fa fa-angle-down"></i></a>
                    <div  class="dropdown-menu mega-menu-content clearfix">
                      <div class="menu-tab">
                        <div class="row">
                          <ul class="nav nav-tabs flex-column col-2" data-toggle="tab-hover">
                            
                            <li class="nav-item" >
                              <a class= "nav-link animated fadeIn active" [routerLink]="['/news-category']"
                              [queryParams]="{categoryId: category.CategoryId}" data-toggle="tab" aria-selected="true" >
                                <span class="tab-head">
                                    <span class="tab-text-title">All</span>					
                                </span>
                              </a>
                              <a class= "nav-link animated fadeIn"  *ngFor="let subcategory of category.SubCategoryJson;"
                               href="#tab-{{subcategory.SubCategoryId}}" data-toggle="tab" >
                                <span class="tab-head">
                                    <span class="tab-text-title">{{subcategory.SubCategoryName}}</span>					
                                </span>
                              </a>
                            </li>
                        </ul>
  
                        <div class="tab-content col-10">
                            <div class="tab-pane fade show active" id="tab-{{category.CategoryId}}">
                              <div class="row">
                                <div class="col-md-3" *ngFor="let subcategory of category.SubCategoryJson | slice:0:4">                                  
                                  <div class="post-block-style clearfix">
                                  <div class="post-thumb">
                                    <a href="/news-description?newsId={{subcategory.News[0].newsId}}"><img class="img-fluid" style="height: 150px;width: 210px;" src="{{imageUrl + subcategory.News[0].Newsthump}}" alt="" /></a>
                                  </div>
                                  <a class="post-cat" href="#">{{subcategory.SubCategoryName}}</a>
                                  <div class="post-content">
                                     <h2 class="post-title title-small">
                                       <a href="#">{{subcategory.News[0].NewsHeadLine}}</a>
                                     </h2>
                                   </div><!-- Post content end -->
                                </div><!-- Post Block style end -->
                                </div>
                              </div>
                            </div><!-- Tab pane 1 end -->


                            <div *ngFor="let subcategory of category.SubCategoryJson" class="tab-pane fade show" id="tab-{{subcategory.SubCategoryId}}">
                              <div class="row">
                                <div class="col-md-3" *ngFor="let news of subcategory.News | slice:0:4">                                  
                                  <div class="post-block-style clearfix">
                                  <div class="post-thumb">
                                    <a href="/news-description?newsId={{news.newsId}}"><img class="img-fluid" style="height: 150px;width: 210px;" src="{{imageUrl + news.Newsthump}}" alt="" /></a>
                                  </div>
                                  <a class="post-cat" href="#">{{subcategory.SubCategoryName}}</a>
                                  <div class="post-content">
                                     <h2 class="post-title title-small">
                                       <a href="#">{{news.NewsHeadLine}}</a>
                                     </h2>
                                   </div><!-- Post content end -->
                                </div><!-- Post Block style end -->
                                </div>
                              </div>
                            </div><!-- Tab pane 1 end -->


                          </div>  <!-- Tab pane 2 end -->
                        </div>
                      </div><!-- Menu tab end -->
                    </div><!-- Mega menu end -->
                  </li><!-- Tab menu end -->
                </ul><!--/ Nav ul end -->
              </div><!--/ Collapse end -->
  
            </div><!-- Site Navbar inner end -->
          </nav><!--/ Navigation end -->
  
          <div class="nav-search">
            <span id="search"><i class="fa fa-search"></i></span>
          </div><!-- Search end -->
          
          <div class="search-block" style="display: none;">
            <input type="text" class="form-control" placeholder="Type what you want and enter">
            <span class="search-close">&times;</span>
          </div><!-- Site search end -->
  
        </div><!--/ Row end -->
      </div><!--/ Container end -->
  
    </div><!-- Menu wrapper end -->
    
    <div class="gap-40"></div>
  
  <router-outlet></router-outlet>
  
  
  <footer id="footer" class="footer">
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-12 footer-widget">
            <h3 class="widget-title">Trending Now</h3>
            <div class="list-post-block">
              <ul class="list-post">
                <li class="clearfix">
                  <div class="post-block-style post-float clearfix">
                    <div class="post-thumb">
                      <a href="#">
                        <img class="img-fluid" src="assets/vendor/images/news/lifestyle/health2.jpg" alt="" />
                      </a>
                    </div><!-- Post thumb end -->
  
                    <div class="post-content">
                       <h2 class="post-title title-small">
                         <a href="#">Can't shed those Gym? The problem might...</a>
                       </h2>
                       <div class="post-meta">
                         <span class="post-date">Mar 13, 2017</span>
                       </div>
                     </div><!-- Post content end -->
                  </div><!-- Post block style end -->
                </li><!-- Li 1 end -->
  
                <li class="clearfix">
                  <div class="post-block-style post-float clearfix">
                    <div class="post-thumb">
                      <a href="#">
                        <img class="img-fluid" src="assets/vendor/images/news/lifestyle/health3.jpg" alt="" />
                      </a>
                    </div><!-- Post thumb end -->
  
                    <div class="post-content">
                       <h2 class="post-title title-small">
                         <a href="#">Deleting fears from the brain means you…</a>
                       </h2>
                       <div class="post-meta">
                         <span class="post-date">Jan 11, 2017</span>
                       </div>
                     </div><!-- Post content end -->
                  </div><!-- Post block style end -->
                </li><!-- Li 2 end -->
  
                <li class="clearfix">
                  <div class="post-block-style post-float clearfix">
                    <div class="post-thumb">
                      <a href="#">
                        <img class="img-fluid" src="assets/vendor/images/news/lifestyle/health4.jpg" alt="" />
                      </a>
                    </div><!-- Post thumb end -->
  
                    <div class="post-content">
                       <h2 class="post-title title-small">
                         <a href="#">Smart packs parking sensor tech...</a>
                       </h2>
                       <div class="post-meta">
                         <span class="post-date">Feb 19, 2017</span>
                       </div>
                     </div><!-- Post content end -->
                  </div><!-- Post block style end -->
                </li><!-- Li 3 end -->
              </ul><!-- List post end -->
            </div><!-- List post block end -->
            
          </div><!-- Col end -->
  
          <div class="col-lg-3 col-sm-12 footer-widget widget-categories">
            <h3 class="widget-title">Hot Categories</h3>
            <ul>
              <li>
                <a href="#"><span class="catTitle">Robotics</span><span class="catCounter"> (5)</span></a>
              </li>
              <li>
                <a href="#"><span class="catTitle">Games</span><span class="catCounter"> (6)</span></a>
              </li>
              <li>
                <a href="#"><span class="catTitle">Gadgets</span><span class="catCounter"> (5)</span></a>
              </li>
              <li>
                <a href="#"><span class="catTitle">Travel</span><span class="catCounter"> (5)</span></a>
              </li>
              <li>
                <a href="#"><span class="catTitle">Health</span><span class="catCounter"> (5)</span></a>
              </li>
              <li>
                <a href="#"><span class="catTitle">Architecture</span><span class="catCounter"> (5)</span></a>
              </li>
              <li>
                <a href="#"><span class="catTitle">Food</span><span class="catCounter"> (5)</span></a>
              </li>
            </ul>
            
          </div><!-- Col end -->
  
          <div class="col-lg-3 col-sm-12 footer-widget twitter-widget">
            <h3 class="widget-title">Latest Tweets</h3>
            <ul>
              <li>
                <div class="tweet-text">
                <span>About 13 days ago</span>
                Please, Wait for the next version of our templates to update #Joomla 3.7 
                <a href="#">https://t.co/LlEv8HgokN</a>
                </div>
              </li>
              <li>
                <div class="tweet-text">
                <span>About 15 days ago</span>
                #WordPress 4.8 is here!
                <a href="#">https://t.co/uDjRH4Gya9</a>
                </div>
              </li>
              <li>
                <div class="tweet-text">
                <span>About 1 month ago</span>
                Please, Wait for the next version of our templates to update #Joomla 3.7 
                <a href="#">https://t.co/LlEv8HgokN</a>
                </div>
              </li>
            </ul>
          </div><!-- Col end -->
  
          <div class="col-lg-3 col-sm-12 footer-widget">
            <h3 class="widget-title">Post Gallery</h3>
            <div class="gallery-widget">
              <a href="#"><img class="img-fluid" src="assets/vendor/images/news/lifestyle/health1.jpg" alt="" /></a>
              <a href="#"><img class="img-fluid" src="assets/vendor/images/news/lifestyle/food3.jpg" alt="" /></a>
              <a href="#"><img class="img-fluid" src="assets/vendor/images/news/lifestyle/travel4.jpg" alt="" /></a>
              <a href="#"><img class="img-fluid" src="assets/vendor/images/news/lifestyle/architecture1.jpg" alt="" /></a>
              <a href="#"><img class="img-fluid" src="assets/vendor/images/news/tech/gadget1.jpg" alt="" /></a>
              <a href="#"><img class="img-fluid" src="assets/vendor/images/news/tech/gadget2.jpg" alt="" /></a>
              <a href="#"><img class="img-fluid" src="assets/vendor/images/news/tech/game2.jpg" alt="" /></a>
              <a href="#"><img class="img-fluid" src="assets/vendor/images/news/tech/robot5.jpg" alt="" /></a>
              <a href="#"><img class="img-fluid" src="assets/vendor/images/news/lifestyle/travel5.jpg" alt="" /></a>
            </div>
          </div><!-- Col end -->
  
        </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Footer main end -->
  
    <div class="footer-info text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-info-content">
              <div class="footer-logo">
                <img class="img-fluid" src="assets/vendor/images/logos/footer-logo.png" alt="" />
              </div>
              <p>News247 Worldwide is a popular online newsportal and going source for technical and digital content for its influential audience around the globe. You can reach us via email or phone.</p>
              <p class="footer-info-phone"><i class="fa fa-phone"></i> +(785) 238-4131</p>
              <p class="footer-info-email"><i class="fa fa-envelope-o"></i> editor@news247.com</p>
              <ul class="unstyled footer-social">
                <li>
                  <a title="Rss" href="#">
                    <span class="social-icon"><i class="fa fa-rss"></i></span>
                  </a>
                  <a title="Facebook" href="#">
                    <span class="social-icon"><i class="fa fa-facebook"></i></span>
                  </a>
                  <a title="Twitter" href="#">
                    <span class="social-icon"><i class="fa fa-twitter"></i></span>
                  </a>
                  <a title="Google+" href="#">
                    <span class="social-icon"><i class="fa fa-google-plus"></i></span>
                  </a>
                  <a title="Linkdin" href="#">
                    <span class="social-icon"><i class="fa fa-linkedin"></i></span>
                  </a>
                  <a title="Skype" href="#">
                    <span class="social-icon"><i class="fa fa-skype"></i></span>
                  </a>
                  <a title="Skype" href="#">
                    <span class="social-icon"><i class="fa fa-dribbble"></i></span>
                  </a>
                  <a title="Skype" href="#">
                    <span class="social-icon"><i class="fa fa-pinterest"></i></span>
                  </a>
                  <a title="Skype" href="#">
                    <span class="social-icon"><i class="fa fa-instagram"></i></span>
                  </a>
                </li>
              </ul>
            </div><!-- Footer info content end -->
          </div><!-- Col end -->
        </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Footer info end -->
  
  </footer><!-- Footer end -->
  
  <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="copyright-info">
              <span>Copyright © 2018 News247 All Rights Reserved. Designed By Tripples</span>
            </div>
          </div>
  
          <div class="col-sm-12 col-md-6">
            <div class="footer-menu">
              <ul class="nav unstyled">
                <li><a href="#">Site Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Advertisement</a></li>
                <li><a href="#">Cookies Policy</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div><!-- Row end -->
  
        <div id="back-to-top" class="back-to-top">
          <button class="btn btn-primary" title="Back to Top">
            <i class="fa fa-angle-up"></i>
          </button>
        </div>
  
      </div><!-- Container end -->
   </div><!-- Copyright end -->
  
  </div>
