
<div class="body-inner">
    <div style="background-color:#333"  id="top-bar" class="top-bar">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="ts-date">
              <i class="fa fa-calendar-check-o"></i>{{Today | date}}
            </div>
            <!-- <ul class="unstyled top-nav">
              <li><a href="#">About</a></li>
              <li><a href="#">Write for Us</a></li>
              <li><a href="#">Advertise</a></li>
              <li><a href="#">Contact</a></li>
            </ul> -->
          </div><!--/ Top bar left end -->
  
          <div class="col-md-4 top-social text-lg-right text-md-center">
            <ul class="unstyled">
              <li>
                <a title="Facebook" href="https://www.facebook.com/One-Bharath-News-389976705062474/" target="_blank">
                  <span class="social-icon"><i class="fa fa-facebook"></i></span>
                </a>
                <a title="Twitter" href="https://twitter.com/onebharathnews" target="_blank">
                  <span class="social-icon"><i class="fa fa-twitter"></i></span>
                </a>
                <a title="Instagram" href="https://www.instagram.com/onebharath_news/" target="_blank">
                  <span class="social-icon"><i class="fa fa-instagram"></i></span>
                </a>
                <a title="YouTube" href="https://www.youtube.com/channel/UCHKaqrWBHvBdS7dgpjpz5lg" target="_blank">
                  <span class="social-icon"><i class="fa fa-youtube"></i></span>
                </a>
              </li>
            </ul><!-- Ul end -->
          </div><!--/ Top social col end -->
        </div><!--/ Content row end -->
      </div><!--/ Container end -->
    </div><!--/ Topbar end -->
    
      <!-- Header start -->
    <header id="header" class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <div class="logo">
               <a href="/home">
                <img src="assets/vendor/images/logos/logo.png" alt="">
               </a>
            </div>
          </div><!-- logo col end -->

          <div class="col-md-9 col-sm-12 header-right">
            <div class="ad-banner float-right">
              <div *ngFor="let add of homeService.advertisementList">
                <a *ngIf="add.Name == 'one'" href="{{add.Link}}" target="_blank">
                  <img  src="{{imageUrlPath + 'common/' + add.ImagePath}}" class="img-fluid" alt=""></a>
              </div>
            </div>
          </div>
        </div><!-- Row end -->
      </div><!-- Logo and banner area end -->
    </header><!--/ Header end -->
  
    <div class="main-nav clearfix">
      <div class="container">
        <div class="row">
          <nav class="navbar navbar-expand-lg col">
            <div class="site-nav-inner float-left">
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                 </button>
                 <!-- End of Navbar toggler -->
  
              <div id="navbarSupportedContent" class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">


                  <li class="active" >
                    <a href="/home">Home</a>
                  </li>
  
                  <li>
                    <a href="/news-category?categoryId=national" >National</a>
                  </li>
  
  
                  <li *ngFor="let category of categoryList;" class="nav-item dropdown mega-dropdown">
                    <a (click)="MoveTop()" [routerLink]="['/news-category']" [queryParams]="{categoryId: category.CategoryId}"  class="nav-link dropdown-toggle"
                     data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false">{{category.CategoryName}} <i class="fa fa-angle-down"></i></a>
                    <div  class="dropdown-menu mega-menu-content clearfix">
                      <div class="menu-tab">
                        <div class="row">
                          <ul class="nav nav-tabs flex-column col-2" data-toggle="tab-hover">
                            
                            <li class="nav-item" >
                              <a class= "nav-link animated fadeIn active" [routerLink]="['/news-category']"
                              [queryParams]="{categoryId: category.CategoryId}" data-toggle="tab" aria-selected="true" >
                                <span class="tab-head">
                                    <span class="tab-text-title">All</span>					
                                </span>
                              </a>
                              <a class= "nav-link animated fadeIn"  *ngFor="let subcategory of category.SubCategoryJson;"
                               href="#tab-{{subcategory.SubCategoryId}}" data-toggle="tab" >
                                <span class="tab-head">
                                    <span class="tab-text-title" [routerLink]="['/news-subcategory']" [queryParams]="{subcategoryId: subcategory.SubCategoryId}" >{{subcategory.SubCategoryName}}</span>					
                                </span>
                              </a>
                            </li>
                        </ul>
  
                        <div class="tab-content col-10">
                            <div class="tab-pane fade show active" id="tab-{{category.CategoryId}}">
                              <div class="row">
                                <div class="col-md-3" *ngFor="let subcategory of category.SubCategoryJson | slice:0:4">                                  
                                  <div class="post-block-style clearfix">
                                  <div class="post-thumb">
                                    <a href="/news-description?newsId={{subcategory.News[0].newsId}}"><img class="img-fluid" style="height: 150px;width: 210px;" src="{{imageUrl + subcategory.News[0].Newsthump}}" alt="" /></a>
                                  </div>
                                  <a class="post-cat" [routerLink]="['/news-subcategory']" [queryParams]="{subcategoryId: subcategory.SubCategoryId}" >{{subcategory.SubCategoryName}}</a>
                                  <div class="post-content">
                                     <h2 class="post-title title-small">
                                       <a href="#">{{subcategory.News[0].NewsHeadLine}}</a>
                                     </h2>
                                   </div><!-- Post content end -->
                                </div><!-- Post Block style end -->
                                </div>
                              </div>
                            </div><!-- Tab pane 1 end -->


                            <div *ngFor="let subcategory of category.SubCategoryJson" class="tab-pane fade show" id="tab-{{subcategory.SubCategoryId}}">
                              <div class="row">
                                <div class="col-md-3" *ngFor="let news of subcategory.News | slice:0:4">                                  
                                  <div class="post-block-style clearfix">
                                  <div class="post-thumb">
                                    <a href="/news-description?newsId={{news.newsId}}"><img class="img-fluid" style="height: 150px;width: 210px;" src="{{imageUrl + news.Newsthump}}" alt="" /></a>
                                  </div>
                                  <a class="post-cat" [routerLink]="['/news-subcategory']" [queryParams]="{subcategoryId: subcategory.SubCategoryId}" (click)=ClosePopup()>{{subcategory.SubCategoryName}}</a>
                                  <div class="post-content">
                                     <h2 class="post-title title-small">
                                       <a href="#">{{news.NewsHeadLine}}</a>
                                     </h2>
                                   </div><!-- Post content end -->
                                </div><!-- Post Block style end -->
                                </div>
                              </div>
                            </div><!-- Tab pane 1 end -->


                          </div>  <!-- Tab pane 2 end -->
                        </div>
                      </div><!-- Menu tab end -->
                    </div><!-- Mega menu end -->
                  </li><!-- Tab menu end -->
                </ul><!--/ Nav ul end -->
              </div><!--/ Collapse end -->
  
            </div><!-- Site Navbar inner end -->
          </nav><!--/ Navigation end -->
  
          <div class="nav-search">
            <span id="search"><i class="fa fa-search"></i></span>
          </div><!-- Search end -->
          
          <div class="search-block" style="display: none;">
            <input type="text" class="form-control" placeholder="Type what you want and enter">
            <span class="search-close">&times;</span>
          </div><!-- Site search end -->
  
        </div><!--/ Row end -->
      </div><!--/ Container end -->
  
    </div><!-- Menu wrapper end -->
    
    <div class="gap-40"></div>
  
  <router-outlet></router-outlet>
  
  
  <footer id="footer" class="footer">
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-12 footer-widget">
            <h3 class="widget-title">Trending Now</h3>
            <div class="list-post-block">
              <ul class="list-post">
                <li class="clearfix" *ngFor="let slidernews of homeService.sliderNewsList | slice:0:3">
                  <div class="post-block-style post-float clearfix">
                    <div class="post-thumb">
                      <a href="/news-description?newsId={{slidernews.newsId}}">
                        <img class="img-fluid" [src]="slidernews.UpdatedSrc" alt="" />
                      </a>
                    </div><!-- Post thumb end -->
  
                    <div class="post-content">
                       <h2 class="post-title title-small">
                         <a href="/news-description?newsId={{slidernews.newsId}}">{{slidernews.NewsHeadLine| slice:0:70}}..</a>
                       </h2>
                       <div class="post-meta">
                         <!-- <span class="post-date">Mar 13, 2017</span> -->
                       </div>
                     </div><!-- Post content end -->
                  </div><!-- Post block style end -->
                </li><!-- Li 1 end -->
              </ul><!-- List post end -->
            </div><!-- List post block end -->
            
          </div><!-- Col end -->
  
          <div class="col-lg-3 col-sm-12 footer-widget widget-categories">
            <h3 class="widget-title">Hot Categories</h3>
            <ul>
              <li *ngFor="let category of categoryList">
                <a  href="/news-category?categoryId={{category.CategoryId}}" >
                  <span style="cursor: pointer;" class="post-title">{{category.CategoryName }}</span></a>
              </li>
            </ul>
          </div><!-- Col end -->
  
          <div class="col-lg-3 col-sm-12 footer-widget">
            <h3 class="widget-title">Company</h3>
            <ul>
              <li>
                <div class="post-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  About Us
                 </div>
                 <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="wheat">
                      One Bharath News brings you a daily connect with India's leading news,
                      columns, coverage and many more. One Bharath News also provides the readers
                      and viewers a digital experience with refreshed and accurate "Infotaiment" across the
                      Nation.
                  </div>
                </div>
              </li>

              <li>
                <div class="post-title" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Contact Us
                 </div>
                 <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="wheat">
                          2nd floor, B block, Romar House<br/>
                          Jaganathan Road, Nungambakkam,<br/>
                          Chennai-34.<br/>
                          Email - info@onebharathnews.in <br/>
                          Land-line - 044 42144309 
                  </div>
                </div>
              </li>
              <li>
                <div class="post-title" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Careers
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div>
                      <form [formGroup]="form" (ngSubmit)="onSubmit()">       
                      <div class="form-group">
                          <label class="wheat" for="Name">Name:</label>
                          <input class="form-control" id="Name" formControlName="Name" name="Name" />
                      </div>
                      <div class="form-group">
                          <label class="wheat" for="description">Description:</label>
                          <textarea class="form-control" rows="5" id="description" formControlName="description" name="description"></textarea>
                      </div>
                      <div class="form-group" style="overflow: hidden">
                          <label class="btn btn-primary" for="my-file-selector">
                              <input type="file" name="uploadedfile" (change)="onFileChange($event)" />
                          </label>
                      </div>
                      <button class="btn btn-success" type="submit">Upload</button>
                      <div style="margin: 20px"></div>
                      </form>                                     
                  </div>
                </div>
              </li>
            </ul>
          </div><!-- Col end -->
  
          <div class="col-lg-3 col-sm-12 footer-widget">
            <h3 class="widget-title">Post Gallery</h3>
            <div class="gallery-widget">
              <a href="#"><img class="img-fluid" src="assets/vendor/images/news/lifestyle/health1.jpg" alt="" /></a>
              <a href="#"><img class="img-fluid" src="assets/vendor/images/news/lifestyle/food3.jpg" alt="" /></a>
              <a href="#"><img class="img-fluid" src="assets/vendor/images/news/lifestyle/travel4.jpg" alt="" /></a>
              <a href="#"><img class="img-fluid" src="assets/vendor/images/news/lifestyle/architecture1.jpg" alt="" /></a>
              <a href="#"><img class="img-fluid" src="assets/vendor/images/news/tech/gadget1.jpg" alt="" /></a>
              <a href="#"><img class="img-fluid" src="assets/vendor/images/news/tech/gadget2.jpg" alt="" /></a>
              <a href="#"><img class="img-fluid" src="assets/vendor/images/news/tech/game2.jpg" alt="" /></a>
              <a href="#"><img class="img-fluid" src="assets/vendor/images/news/tech/robot5.jpg" alt="" /></a>
              <a href="#"><img class="img-fluid" src="assets/vendor/images/news/lifestyle/travel5.jpg" alt="" /></a>
            </div>
          </div><!-- Col end -->
  
        </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Footer main end -->
  
    <div class="footer-info text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-info-content">
              <div class="footer-logo">
                <img class="img-fluid" src="assets/vendor/images/logos/footer-logo.png" alt="" />
              </div>
              <p>One Bharath News brings you a daily connect with India's leading news, columns, coverage and many more. One Bharath News also provides the readers and viewers a digital experience with refreshed and accurate "Infotaiment" across the Nation.</p>
              <p class="footer-info-phone"><i class="fa fa-phone"></i> 044 42144309</p>
              <p class="footer-info-email"><i class="fa fa-envelope-o"></i> info@onebharathnews.in</p>
              <ul class="unstyled footer-social">
                <li>
                 
                  <a title="Facebook" href="https://www.facebook.com/One-Bharath-News-389976705062474/" target="_blank">
                    <span class="social-icon"><i class="fa fa-facebook"></i></span>
                  </a>
                  <a title="Twitter"  href="https://twitter.com/onebharathnews" target="_blank">
                    <span class="social-icon"><i class="fa fa-twitter"></i></span>
                  </a>
                  <a title="YouTube" href="https://www.youtube.com/channel/UCHKaqrWBHvBdS7dgpjpz5lg" target="_blank">
                    <span class="social-icon"><i class="fa fa-youtube"></i></span>
                  </a>
                  <a title="Instagram" href="https://www.instagram.com/onebharath_news/" target="_blank">
                    <span class="social-icon"><i class="fa fa-instagram"></i></span>
                  </a>
                </li>
              </ul>
            </div><!-- Footer info content end -->
          </div><!-- Col end -->
        </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Footer info end -->
  
  </footer><!-- Footer end -->
  <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="copyright-info">
              <span>Copyright © 2018 News247 All Rights Reserved. Designed By Tripples</span>
            </div>
          </div>
  
          <div class="col-sm-12 col-md-6">
            <div class="footer-menu">
              <ul class="nav unstyled">
                <li><a href="#">Site Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Advertisement</a></li>
                <li><a href="#">Cookies Policy</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div><!-- Row end -->
  
        <div id="back-to-top" class="back-to-top">
          <button class="btn btn-primary" title="Back to Top">
            <i class="fa fa-angle-up"></i>
          </button>
        </div>
  
      </div><!-- Container end -->
   </div><!-- Copyright end -->
  
  </div>
