
<section class="block-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="block category-listing color-violet">
          <h3 class="block-title"><span> Articles</span></h3>

          <div class="row">
            <div class="col-md-3" *ngFor="let article of ArticlesList | paginate: config" >
              <div class="post-block-style post-grid clearfix">
                <div class="post-thumb">
                  <a href="/article-description?newsId={{article.newsId}}"  (click)="GotToDesc(article)">
                    <img class="img-fluid" src="{{imageUrlPath+'article/'+article.Newsthump}}"  style="height: 170px;" alt="" />
                  </a>
                </div>
                <a class="post-cat" >Article</a>
                <div class="post-content">
                   <h2 class="post-title title-large">
                     <a href="/article-description?newsId={{article.newsId}}" (click)="GotToDesc(article)"> {{ (article.NewsHeadLine.length>60)? (article.NewsHeadLine | slice:0:60)+'...':(article.NewsHeadLine) }}</a>
                   </h2>
                   <div class="post-meta">
                     <span class="post-author"><a href="/article-description?newsId={{article.newsId}}"  (click)="GotToDesc(article)" >{{article.CreatedName}}</a></span>
                     <span class="post-date">{{article.Date | date:'fullDate' }}</span>
                     <!-- <span class="post-comment pull-right"><i class="fa fa-comments-o"></i>
                    <a href="#" class="comments-link"><span>03</span></a></span> -->
                   </div>
                   <p >{{article.NewsContent | slice:0:180}} ...</p >
                 </div><!-- Post content end -->
              </div><!-- Post Block style end -->
            </div><!-- Col 1 end -->
          </div><!-- Row end -->
        </div><!-- Block Lifestyle end -->

        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

      </div><!-- Content Col end -->

    </div><!-- Row end -->
  </div><!-- Container end -->
</section><!-- First block end -->