<style>
.hot-post-bottom, .hot-post-bottom img {
    height: 182px;
}
</style>


	<section *ngIf="homeService.sliderNewsList" class="featured-post-area no-padding">
    <div class="container">
      <div class="row">


		<div class="col-md-7 col-xs-12 pad-r">
			<div class="post-overaly-style featured-post ">
				<div class="post-thumb">
					<a href="/news-description?newsId={{homeService.sliderNewsList[0].newsId}}"><img class="img-fluid" style="height: 465px;" [src]="homeService.sliderNewsList[0].UpdatedSrc"  alt="" /></a>
				</div>
				<div class="post-content">
				<a class="post-cat" href="/news-description?newsId={{homeService.sliderNewsList[0].newsId}}">{{homeService.sliderNewsList[0].CategoryName}}</a>
				<h2 class="post-title title-large">
					<a href="/news-description?newsId={{homeService.sliderNewsList[0].newsId}}">{{homeService.sliderNewsList[0].NewsHeadLine}}</a>
				</h2>
				<!-- <span class="post-date">February 19, 2017</span> -->
				</div>
			</div>	
		</div><!-- Col 7 end -->

        <div class="col-lg-5 col-md-12 pad-l">
          <div class="row">
            <div class="col-md-12">
              <div class="post-overaly-style contentTop hot-post-top clearfix">
                <div class="post-thumb">
                  <a href="/news-description?newsId={{homeService.sliderNewsList[1].newsId}}"><img class="img-fluid" style="height: 280px;"  [src]="homeService.sliderNewsList[1].UpdatedSrc" alt="" /></a>
                </div>
                <div class="post-content">
                   <a class="post-cat" href="/news-description?newsId={{homeService.sliderNewsList[1].newsId}}">{{homeService.sliderNewsList[1].CategoryName}}</a>
                   <h2 class="post-title title-large">
                     <a href="/news-description?newsId={{homeService.sliderNewsList[1].newsId}}">{{homeService.sliderNewsList[1].NewsHeadLine}}</a>
                   </h2>
                   <!-- <span class="post-date">February 19, 2017</span> -->
                 </div><!-- Post content end -->
              </div><!-- Post Overaly end -->
            </div><!-- Col end -->

            <div class="col-md-6 pad-r-small" >
              <div class="post-overaly-style contentTop hot-post-bottom clearfix">
                <div class="post-thumb">
                  <a href="/news-description?newsId={{homeService.sliderNewsList[2].newsId}}"><img class="img-fluid" [src]="homeService.sliderNewsList[2].UpdatedSrc" alt="" /></a>
                </div>
                <div class="post-content">
                   <a class="post-cat" href="/news-description?newsId={{homeService.sliderNewsList[2].newsId}}">{{homeService.sliderNewsList[2].CategoryName}}</a>
                   <h2 class="post-title title-medium">
                     <a href="/news-description?newsId={{homeService.sliderNewsList[2].newsId}}">{{homeService.sliderNewsList[2].NewsHeadLine}}</a>
                   </h2>
                 </div><!-- Post content end -->
              </div><!-- Post Overaly end -->
            </div><!-- Col end -->

            <div class="col-md-6 pad-l-small">
              <div class="post-overaly-style contentTop hot-post-bottom clearfix">
                <div class="post-thumb">
                  <a href="/news-description?newsId={{homeService.sliderNewsList[3].newsId}}"><img class="img-fluid" [src]="homeService.sliderNewsList[3].UpdatedSrc" alt="" /></a>
                </div>
                <div class="post-content">
                   <a class="post-cat" href="/news-description?newsId={{homeService.sliderNewsList[3].newsId}}">{{homeService.sliderNewsList[3].CategoryName}}</a>
                   <h2 class="post-title title-medium">
                     <a href="/news-description?newsId={{homeService.sliderNewsList[3].newsId}}">{{homeService.sliderNewsList[3].NewsHeadLine}}</a>
                   </h2>
                 </div><!-- Post content end -->
              </div><!-- Post Overaly end -->
            </div><!-- Col end -->
          </div>
        </div><!-- Col 5 end -->
      </div><!-- Row end -->
    </div><!-- Container end -->
  </section> <!-- Trending post end -->




  <section class="block-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">

					<div class="latest-news block color-red">
						<h3 class="block-title"><span>National</span></h3>

						<div class="row"> 
							<div *ngFor="let national of NationalNewsList | slice:0:6"  class="col-md-4">
								<div class="post-block-style clearfix">
									<div class="post-thumb">
										<a  href="/news-description?newsId={{national.newsId}}">
											<img class="img-fluid" style="height: 130px;" src="https://admin.onebharathnews.tv/CategoryFiles/{{national.Newsthump}}" alt="">
										</a>
									</div>
									<a class="post-cat" href="#">National</a>
									<div class="post-content">
										 <h2 class="post-title title-medium">
											 <a href="/news-description?newsId={{national.newsId}}" >
												{{national.NewsHeadLine | slice:0:100}} ...</a>
										 </h2>
										 <div class="post-meta">
											 <span class="post-author"><a href="#">{{national.CreatedName}}</a></span>
											 <span class="post-date">{{national.Date  | date: 'dd/MM/yyyy'}}</span>
											 <!-- <span class="post-comment pull-right"><i class="fa fa-comments-o"></i>
											<a href="#" class="comments-link"><span>03</span></a></span> -->
										 </div>
									 </div><!-- Post content end -->
								</div><!-- Post Block style end -->
							</div><!-- Col 1 end -->
						</div><!--- Latest news end -->
					</div>
					

					<!--- Featured Tab startet -->
					<div class="featured-tab color-blue" *ngFor="let category of homeService.categoryList"  style="margin-top: 25px;">
						<h3 class="block-title"><span> {{category.CategoryName}} </span></h3>
						<ul class="nav nav-tabs">
						  	<li class="nav-item">
						  		<a class="nav-link animated fadeIn active" href="#{{category.CategoryId}}" data-toggle="tab">
						  			<span class="tab-head">
										<span class="tab-text-title">All</span>					
									</span>
						  		</a>
						  	</li>
						  	<li class="nav-item" *ngFor="let subcategory of category.SubCategoryJson | slice:0:2">
							  	<a class="nav-link animated fadeIn" href="#{{subcategory.SubCategoryId}}" data-toggle="tab">
							  		<span class="tab-head">
										<span class="tab-text-title">{{subcategory.SubCategoryName}}</span>					
									</span>
							  	</a>
							</li>
							<li class="nav-item">
								<a class="nav-link animated fadeIn" href="/news-category?categoryId={{category.CategoryId}}" >
									<span class="tab-head">
									  <span class="tab-text-title">View All</span>					
								  </span>
								</a>
							</li>

						</ul>

						<div class="tab-content">
					      <div class="tab-pane active animated fadeInRight" id="{{category.CategoryId}}">
					      	<div class="row">
						      	<div class="col-lg-6 col-md-6">
						      		<div class="post-block-style clearfix">
											<div class="post-thumb">
												<a href="/news-description?newsId={{category.AllNews[0].newsId}}">
													<img class="img-fluid" src="https://admin.onebharathnews.tv/CategoryFiles/{{category.AllNews[0].Newsthump}}" alt="" />
												</a>
											</div>
											<a class="post-cat"  href="/news-description?newsId={{category.AllNews[0].newsId}}">{{category.AllNews[0].SubCategoryName}}</a>
											<div class="post-content">
									 			<h2 class="post-title">
									 				<a  href="/news-description?newsId={{category.AllNews[0].newsId}}"> {{category.AllNews[0].NewsHeadLine}}</a>
									 			</h2>
									 			<div class="post-meta">
									 				<span class="post-author"><a  href="/news-description?newsId={{category.AllNews[0].newsId}}">{{category.AllNews[0].CreatedName}}</a></span>
									 				<span class="post-date">{{category.AllNews[0].Date | date: 'dd/MM/yyyy'}}</span>
												 </div>
												 <p >{{category.AllNews[0].NewsContent | slice:0:200}} ...</p >
								 			</div><!-- Post content end -->
										</div><!-- Post Block style end -->
						      	</div><!-- Col end -->

						      	<div class="col-lg-6 col-md-6">
						      		<div class="list-post-block">
										<ul class="list-post">
											<li class="clearfix" *ngFor="let subcategory of category.AllNews | slice:1:5">
												<div class="post-block-style post-float clearfix">
													<div class="post-thumb">
														<a href="/news-description?newsId={{subcategory.newsId}}">
															<img class="img-fluid" style="height: 75px;" src="https://admin.onebharathnews.tv/CategoryFiles/{{subcategory.Newsthump}}" alt="" />
														</a>
													</div><!-- Post thumb end -->
													<a class="post-cat" href="/news-description?newsId={{subcategory.newsId}}">{{subcategory.SubCategoryName}}</a>
													<div class="post-content">
														<h2 class="post-title title-small">
															<a  href="/news-description?newsId={{subcategory.newsId}}">{{subcategory.NewsHeadLine}}</a>
														</h2>
														<div class="post-meta">
																<span class="post-date">{{subcategory.Date | date: 'dd/MM/yyyy'}}</span>																 
															</div>															
													</div><!-- Post content end -->
												</div><!-- Post block style end -->
											</li><!-- Li 1 end -->
										</ul><!-- List post end -->
									</div><!-- List post block end -->
						      	</div><!-- List post Col end -->
					      	</div><!-- Tab pane Row 1 end -->
						  </div><!-- Tab pane 1 end -->
						  
						  <div class="tab-pane animated fadeInRight"  *ngFor="let subcategory of category.SubCategoryJson" id="{{subcategory.SubCategoryId}}">
							<div class="row">
								<div class="col-lg-6 col-md-6"  *ngFor="let news of subcategory.News| slice:0:1; let i = index">
									<div class="post-block-style clearfix">
										  <div class="post-thumb">
											  <a  href="/news-description?newsId={{subcategory.News[0].newsId}}">
												  <img class="img-fluid"  src="https://admin.onebharathnews.tv/CategoryFiles/{{subcategory.News[0].Newsthump}}" alt="" />
											  </a>
										  </div>
										  <a class="post-cat" href="/news-description?newsId={{subcategory.News[0].newsId}}">{{subcategory.News[0].SubCategoryName}}</a>
										  <div class="post-content">
											   <h2 class="post-title">
												   <a  href="/news-description?newsId={{subcategory.News[0].newsId}}"> {{subcategory.News[0].NewsHeadLine}}</a>
											   </h2>
											   <div class="post-meta">
												   <span class="post-author"><a href="#">{{subcategory.News[0].CreatedName}}</a></span>
												   <span class="post-date">{{subcategory.News[0].Date | date: 'dd/MM/yyyy'}}</span>
											   </div>
										   </div><!-- Post content end -->
									  </div><!-- Post Block style end -->
								</div><!-- Col end -->

								<div class="col-lg-6 col-md-6">
									<div class="list-post-block">
										  <ul class="list-post">
											  <li class="clearfix" *ngFor="let news of subcategory.News | slice:1:5">
												  <div class="post-block-style post-float clearfix">
													  <div class="post-thumb">
														  <a  href="/news-description?newsId={{news.newsId}}">
															  <img class="img-fluid" style="height: 75px;" src="https://admin.onebharathnews.tv/CategoryFiles/{{news.Newsthump}}" alt="" />
														  </a>
													  </div><!-- Post thumb end -->
													  <a class="post-cat"  href="/news-description?newsId={{news.newsId}}">{{news.SubCategoryName}}</a>
													  <div class="post-content">
														   <h2 class="post-title title-small">
															   <a   href="/news-description?newsId={{news.newsId}}">{{news.NewsHeadLine}}</a>
														   </h2>
														   <div class="post-meta">
															   <span class="post-date">{{news.Date | date: 'dd/MM/yyyy'}}</span>
														   </div>
														  
													   </div><!-- Post content end -->
												  </div><!-- Post block style end -->
											  </li><!-- Li 1 end -->
										  </ul><!-- List post end -->
									  </div><!-- List post block end -->
								</div><!-- List post Col end -->
							</div><!-- Tab pane Row 1 end -->
						</div><!-- Tab pane 1 end -->

						</div><!-- tab content -->
					</div><!-- Technology Tab end -->

					<div class="gap-40"></div>

				</div><!-- Content Col end -->

				<div class="col-lg-4 col-md-12">
					<div class="sidebar sidebar-right">
						<div class="widget">
							<h3 class="block-title"><span>Follow Us</span></h3>
								<div  style="height: 600px; overflow-y: scroll;"><a style="height: 500px; overflow-y: scroll;" class="twitter-timeline" href="https://twitter.com/onebharathnews?ref_src=twsrc%5Etfw">Tweets by onebharathnews</a> 
									<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
								</div>
						</div>

						<div class="widget color-default">
							<div class="list-post-block clearfix">
								<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FOne-Bharath-News-389976705062474%2F&tabs=timeline&width=335&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
									width="340" height="500" style="border:none;overflow:hidden" 
									scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
							</div>

						</div><!-- Popular news widget end -->

						<div class="widget text-center">
							<div *ngFor="let add of homeService.advertisementList">
								<a *ngIf="add.Name == 'two'" href="{{add.Link}}" target="_blank"style="cursor: pointer;">
									<img src="{{imageUrlPath + 'common/' + add.ImagePath}}" alt="IMG" style="max-height:650px;max-width: 300px;"/>
								</a>
							</div>
						</div>
					</div><!-- Sidebar right end -->
				</div><!-- Sidebar Col end -->
			</div><!-- Row end -->
		</div><!-- Container end -->		
	</section><!-- First block end -->
	

	<section class="ad-content-area text-center no-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div *ngFor="let add of homeService.advertisementList">
						<a *ngIf="add.Name == 'one'" href="{{add.Link}}" target="_blank">
						<img  src="{{imageUrlPath + 'common/' + add.ImagePath}}" class="img-fluid" alt=""></a>
					</div>
				</div><!-- Col end -->
			</div><!-- Row end -->
		</div><!-- Container end -->
		<div class="gap-40"></div>
	</section><!-- Ad content top end -->

	<section class="block-wrapper p-bottom-0">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="featured-tab color-aqua">
						<h3 class="block-title"><span>Watch Now</span></h3>
						<ul class="nav nav-tabs">
							<li class="nav-item">
								<a class="nav-link animated active color-aqua" href="/news-video">
									<span class="tab-head">
									  <span class="tab-text-title ">View All</span>					
								  </span>
								</a>
							</li>
						</ul>
							<div class="item">
								<ng-image-slider [images]="homeService.videoNews" [slideImage]="4" [infinite]="true"   #nav ></ng-image-slider>
								
							</div><!-- Item 1 end -->
					</div><!--More news block end -->
				</div><!-- Content Col end -->
			</div><!-- Row end -->
		</div><!-- Container end -->
	</section>

	<section class="block-wrapper p-bottom-0">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="featured-tab color-violet">
						<h3 class="block-title"><span>Latest Articles</span></h3>
						<ul class="nav nav-tabs">
						  	<li class="nav-item">
						  		<a class="nav-link animated fadeIn active"  href="/news-article" >
						  			<span class="tab-head">
										<span class="tab-text-title">View All</span>					
									</span>
						  		</a>
							  </li>
							  </ul>
						
							<div class="item">
								<div *ngFor="let article of homeService.articles | slice:0:4">
									<div class="post-block-style post-float-half clearfix">
										<div class="post-thumb">
											<a href="/article-description?newsId={{article.newsId}}">
												<img class="img-fluid" src="{{imageUrlPath+'article/'+article.Newsthump}}" alt="" />
											</a>
										</div>
										<a class="post-cat" href="#">Article</a>
										<div class="post-content">
											 <h2 class="post-title">
												 <a href="/article-description?newsId={{article.newsId}}">{{article.HeadLine}}</a>
											 </h2>
											 <div class="post-meta">
												 <span class="post-author"><a href="#">{{ article.CreatedName}}</a></span>
												 <span class="post-date">{{article.Date | date:'fullDate'}}</span>
											 </div>
											<p>{{article.NewsContent | slice:0:300}} ...</p>
										 </div><!-- Post content end -->
									</div><!-- Post Block style 1 end -->
	
									<div class="gap-30"></div>
								</div>
								
							</div><!-- Item 1 end -->
					</div><!--More news block end -->
					
				</div><!-- Content Col end -->

				<div class="col-lg-4 col-sm-12">
					<div class="sidebar sidebar-right">

						<div class="widget color-default">
							<h3 class="block-title"><span>Popular News</span></h3>
							<div class="list-post-block">
								<ul class="list-post review-post-list">
									<li *ngFor="let slidernews of homeService.sliderNewsList" class="clearfix">
										<div class="post-block-style post-float clearfix">
											<div class="post-thumb">
												<a href="/news-description?newsId={{slidernews.newsId}}">
													<img class="img-fluid" [src]="slidernews.UpdatedSrc"  alt="" />
												</a>
											</div><!-- Post thumb end -->

											<div class="post-content">
									 			<h2 class="post-title">
									 				<a href="/news-description?newsId={{slidernews.newsId}}">{{slidernews.NewsHeadLine | slice:0:50}}..</a>
									 			</h2>

								 			</div><!-- Post content end -->
										</div><!-- Post block style end -->
									</li><!-- Li 1 end -->
								</ul><!-- List post end -->
							</div><!-- List post block end -->
						</div><!-- Latest Review Widget end -->

						<div class="widget m-bottom-0">

							<div class="widget text-center">
								<div *ngFor="let add of homeService.advertisementList">
									<a *ngIf="add.Name == 'two'" href="{{add.Link}}" target="_blank"style="cursor: pointer;">
										<img src="{{imageUrlPath + 'common/' + add.ImagePath}}" alt="IMG" style="max-height:650px;max-width: 300px;"/>
									</a>
								</div>
							</div>	

							<!-- <h3 class="block-title"><span>Newsletter</span></h3>
							<div class="ts-newsletter">
								<div class="newsletter-introtext">
									<h4>Get Updates</h4>
									<p>Subscribe our newsletter to get the best stories into your inbox!</p>
								</div>

								<div class="newsletter-form">
									<form action="#" method="post">
										<div class="form-group">
											<input type="email" name="email" id="newsletter-form-email" class="form-control form-control-lg" placeholder="E-mail" autocomplete="off">
											<button class="btn btn-primary">Subscribe</button>
										</div>
									</form>
								</div>
							</div> -->
						</div>
					</div><!--Sidebar right end -->
				</div><!-- Sidebar col end -->
			</div><!-- Row end -->
		</div><!-- Container end -->
	</section><!-- 3rd block end -->

	<div class="gap-30"></div>

